::-webkit-input-placeholder {
   text-align: center;
}
label{
    margin-top: 20px;
}
input[type=submit] {
   margin-top: 20px;
}

h1{
    padding: 2%;
    margin-top: 0px;
}
.producto_imagen{
	height: 200px;
	margin: 0px auto;
    display: block;
    padding: 5%;
    max-width: 100%;
    
}
.thumbnail{
     box-shadow: 10px 10px 5px #E6E6E6;
}


