<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12">
                <h2>{{title}}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12">
                <div id="img">
                    <img src="./assets/error.png" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12">
                <p>
                    <a [routerLink]="['/productos_list']" class="btn btn-lg btn-primary">
                            Ver productos
                        </a>
                    <a [routerLink]="['/productos_add']" class="btn btn-lg btn-success">
                            Añadir productos
                        </a>
                </p>
            </div>
        </div>
    </div>
</div>